body{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

h4{
    background-color: #1CD1B0;
    background-size:cover 100%;
    margin: 0px;
}

h1{
    background-color: #00669F;
    background-size:cover ;
    margin: 0px;
    Width:100%;
    Height:70px;
    font-size: 40px;
    text-align: left;
}

/*Carts*/

#cards{

    display: inline-flex;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 200px;
    margin-bottom: 100px;
    
}

#batman1{
    background-color: #F3F3F3;
    border-radius: 5%;
   
}

#harley{
    margin-left: 30px;
    margin-right: 30px;
    background-color: #F3F3F3;
    border-radius: 5%;

}

#batman2{
    background-color: #F3F3F3;
    border-radius: 5%;
}

.perfil{
  position: relative;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgb(109, 108, 108);
}

#fondo1,
#fondo2,
#fondo3 {
    position: relative;
}

#imgbatman1,
#imgbatman2,
#imgharley
{
position: relative;   
border-radius: 50%;
margin-top: -50px;
margin-left: 80px;
    
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

button{
    background-color: #00669F;
    color: white;
    margin-left: 110px;
    margin-bottom: 20px;
    height: 40px;
    width: 90px;
}

svg{
   fill: #CC2424;
   position: absolute;
   z-index: 10;
 

    
    
}

/*Footer*/

footer{
    background-color: #00669F;
    Width:100%;
    Height: 51px;
    font-size: 25px;
    color: white;
    text-align: center;
    
  
}




/* MEDIA QUERIES */

@media (max-width: 640px) {
        .m-hide{
            display: none;
        }
    
    #cards{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 0%;
    

}  

#perfil{
    align-items: stretch;
   
}

#harley, #batman1, #batman2{
    margin-bottom: 5%;
}

}
